# Don't track content of these folders
data/
.ipynb_checkpoints/

# Compiled source #
###################

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
#


# file

